body {
  font-family: "acta-poster-swashes",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  }

h1 {
  display: inline;
  position: relative;
  color: rgba(0,0,255,0.5);
  letter-spacing: -3px;
}

/*
h1:after {
  content: "Are you having seizures yet?";
  position: absolute; top: 5px; left: 10px; 
  color: rgba(255,0,0,0.5);
}
*/
